/* Tipografia */
@font-face {
    font-family: 'DxLactos';
    src: url("../Recursos/DxLactosFreeFont/DxLactos-Regular-free-personal-use.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --BlancoRoto: #f8f8f8;
    --Blanco: #fff;
    --Marron: #6c151a;
    --RosaPastel: #fec7d7;
    --GrisFosc: #404040;
}

/* Estilos Base */
body {
    font-family: 'DxLactos', sans-serif;
    background-color: var(--BlancoRoto);
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    user-select: none;
}

/* Contenedor Principal */
.container-main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 22;
    padding-top: 20px;
    box-sizing: border-box;
}

.header-content {
    position: relative;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.logo {
    display: inline-block;
    height: 100px;
    width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; 
    z-index: 21;
}

.logo img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: var(--RosaPastel);
    padding: 5vh 0 2.5vh 0;
    border-radius: 30px 30px 0 0;
    text-align: center;
    position: relative;
    color: var(--Marron);
}

.footer-top {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

.side {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    font-size: 1rem;
    text-align: right;
}

.ubi-img {
    display: inline-block;
    height: auto;
    width: auto ;
}

.ubi-img img {
    box-shadow: 5px 10px 15px var(--GrisFosc);
    border-radius: 25px;
    max-width: 100%;
    max-height: 60vh;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.legal a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--Marron);
    font-weight: bold;
}

.footer-bottom {
    display: block;
    width: 100%;
    margin-top: 40px;
}

.line-copy {
    background-color: rgb(130, 130, 130);
    margin: 2.5vh auto;
    width: 80%;
    height: 1px;
}

.logo-mini {
    width: 60px;
    height: auto;
    display: inline-block;
}

/* copyright */
.copyright img {
    position: relative;
    top: 20px;
    height: 50px;
    width: auto;
}

/* Menú Hamburguesa */
.menu {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 22;
}

.menu-btn {
    display: inline-block;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.menu-btn input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
    left: 0;
    top: 0;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    border-radius: 25px;
    transition: all 0.2s;
    background-color: var(--GrisFosc);
}

/* Menu Overlay */
.menu-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Blanco);
    z-index: 21;
    opacity: 0; 
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}
 /* */
.menu-overlay.activo {
    opacity: 1;
    visibility: visible;
}

.menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-nav li {
    margin: 20px 0;
}

.menu-nav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}

.menu-btn input:checked ~ .bar:nth-child(2) {
    transform: translateY(9.5px) rotate(45deg);
}
.menu-btn input:checked ~ .bar:nth-child(3) {
    opacity: 0;
}
.menu-btn input:checked ~ .bar:nth-child(4) {
    transform: translateY(-8px) rotate(-45deg);
}
 /* */