/* Portada */
.Portada {
    position: relative;
    height: 95vh; 
    background-color: var(--RosaPastel);
    color: var(--Marron);
    padding-top: 150px; 
    box-sizing: border-box;
    border-radius: 0 0 30px 30px;
    margin-bottom: 3rem;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.Portada h1 {
    font-size: 25em; 
    margin: 0;
    padding: 0;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%); 
    z-index: 1; 
    /* EFECTO FUSION: Borde solido, relleno semitransparente o que interactue */
    /* Ponemos un borde al texto para mantener la forma */
    -webkit-text-stroke: 1px var(--Marron); 
    color: var(--Marron);
}
.portada-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 550px;
    max-height: 60vh;
    z-index: 2; 
}

/* Sección Comidas */
.comidas {
    padding: 2rem 0;
    font-size: 0; 
    text-align: center;
}

.categoria-titulo {
    font-size: 80px;
    color: var(--Marron);
    margin-bottom: 30px;
    margin-top: 0;
    display: block;
    text-align: center;
}

.titulo-pollo {
    margin-top: 60px;
}

.lista-comidas {
    width: 100%;
    text-align: center;
    font-size: 0; 
}

.comida-item {
    display: inline-block;
    vertical-align: top;
    width: 22%; 
    min-width: 250px;
    background-color: var(--Blanco);
    border-radius: 15px;
    padding: 20px;
    margin: 1%;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-size: 16px; 
    transition: transform 0.2s ease-in-out;
}
.comida-item:hover {
    transform: scale(1.2);
}

.comida-item img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    display: block;
    margin: 0 auto 15px auto;
}

.comida-item h3 {
    font-size: 2em;
    color: var(--GrisFosc);
    margin: 0;
}

/* Breakpoints */
@media (max-width: 1024px) {
    .comida-item {
        width: 45%; 
    }
}

@media (max-width: 768px) {
    .Portada {
        height: 75vh;
        padding-top: 180px;
    }
    
    .Portada h1 {
        font-size: 5em;
    }

    .portada-img {
        max-width: 80%;
        margin-top: -20px;
    }

    .categoria-titulo {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .comida-item {
        width: 90%; 
        display: block;
        margin: 20px auto;
    }
    
    .Portada h1 {
        font-size: 4em;
    }
    
    .logo {
        height: 80px;
        width: 120px;
    }
}